body {
    background-color: lightblue;
    color: black;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
}
nav li {
    list-style: none;
    background-color: lightblue;
    color: black;
    margin: 0px;
    flex: 1px;
    min-width: 200px;
    text-align: center;
    display: flex;


}
nav a, nav a:visited {
    text-decoration: none;
    width: 100px;
    padding: 8px 0px;
    color: black;
}
nav a:hover {
    color: lightblue;
    background-color: rgb(173, 230, 180);
}
nav a:hover, nav a.active {
    color: lightblue;
    background-color: rgb(173, 230, 180);
}